<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">  
    <title>Our platform</title>
</head>
<div class="off-canvas off-canvas-sidebar-show">
    <!-- off-screen toggle button -->
    <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
      <i class="icon icon-menu"></i>
    </a>
    <div id="sidebar-id" class="off-canvas-sidebar">
      <!-- off-screen sidebar -->
      <nav>
          <ul style="list-style-type: none;">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/scanner">Scanner</a></li>
          </ul>
      </nav>
    </div>   
    <a class="off-canvas-overlay" href="#close"></a>
    <div class="off-canvas-content">
        <header class="navbar">
          <section class="navbar-section">
            <h2><a href="/" class="navbar-brand mr-2">ScannerTracker</a></h2>
          </section>
        </header>
        <div class="divider"></div>
<body>
    <main>
        {{{body}}}

    </main>
    
</body>
</html>