<h1>Create scanner</h1>
{{#if errors.length}}
    <ul>
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
{{/if}}

<form action="/scanner/create" method="post">
    <div>
        Scanner Number<br>
        <input type="text" name="scannerId">
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>