<h1>Create scanner</h1>

<form action="/scanner/create" method="post">
    <div>
        Scanner Number<br>
        <input type="text" name="scannerNumber">
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>