<h1>Delete scanner</h1>

<p>
    Are you sure you want to delete the scanner with id ##?
</p>

<form action="/scanner/delete" method="post">
    <div>
        <button type="submit">
            Delete
        </button>
    </div>
</form>
