<h1>Delete scanner</h1>
{{#if scanner}}
    <form action="/scanner/delete/{{scanner.scannerId}}" method="post">
        <p>Are you sure you wan't to delete scanner {{scanner.scannerId}}</p>
        <div>
            <button type="submit">Delete</button>
        </div>
    </form>
{{else}}
    <p>That specific scanner does not exist</p>
{{/if}}

{{#if errors}}
    <ul>
        {{#each errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}