<p>Do you really want to logout?</p>


<form action="/auth/logout" method="POST">
    <div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">Yes logout!</button>
    </div>
</form>