<h1>Scanner</h1>
<h2>
    List of scanners here from db, maybe you can see if one is active or not in the list
</h2>
<a href="/scanner/create">Create new scanner</a>
<ul>
    <li>
        scanner #1 <a href="/scanner/update">Update scanner</a>
        <a href="/scanner/delete">Delete scanner</a>
    </li>
</ul>
    
