<h1>Update scanner</h1>

<form action="/scanner/update" method="post">
    <div>
        Scanner Number<br>
        <input type="text" name="scannerNumber">
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>